<div class="shopping-cards">
  <div class="row row-cols-2 row-cols-md-3 g-4">
    <ng-container *ngFor="let product of products">
      <div class="col card-item" [routerLink]="product.name">
        <div class="card p-2">
          <img
            [src]="product.img"
            class="card-img-top m-2"
            [alt]="product.name"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
