<ng-container *ngIf="todos$ | async as todos">
    <ng-container *ngIf="todos.length">
        <div class="todo-list">
            <h3>Todo List</h3>
            <ul>
                <li *ngFor="let todo of todos">
                    <div class="todo">
                        <span>
                            {{ todo.title }}
                        </span>
                        <span>
                            {{ todo.description }}
                        </span>
                    </div>
                    <div class="remove-todo">
                        <button class="btn btn-sm btn-danger" (click)="removeTodo(todo.id)">Remove</button>
                    </div>
                </li>
            </ul>
        </div>
    </ng-container>
</ng-container>